.footer__text {
  text-align: center;
  margin: 0 auto;
  opacity: 70%;
  color: #212121;
  font-family: "Poppins-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 60px;
}
